<div class="container mt-5 mb-5">
    <img src="" width="100%">

    <h1 class="text-center">About</h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ullam expedita eveniet delectus. Dicta numquam voluptatibus velit, qui recusandae aliquid similique laudantium ipsa commodi amet repellendus, veniam perferendis quibusdam corporis atque!
    <br>

    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Unde laudantium aut delectus voluptates nulla quo, odio quaerat magnam, consequatur aspernatur hic repudiandae atque deserunt blanditiis dicta ratione, molestiae ducimus nam!
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusantium numquam neque quidem aperiam vero soluta veniam deleniti, impedit voluptatibus, cumque optio, cupiditate natus. Omnis, architecto nobis atque vero sed quae?
    <br>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nulla repellendus tempore eius incidunt at laboriosam veritatis nihil, minima aliquam architecto mollitia ratione deserunt amet, adipisci nam libero velit quae quis!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid mollitia dolore ullam, id modi consequatur ratione quidem voluptate numquam maxime? Nesciunt incidunt dolorem deleniti eius, praesentium eum vitae esse architecto!
    <br>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Possimus commodi neque officiis. Similique explicabo illo nulla tempore facilis iusto quos mollitia! Aliquam ipsa animi sapiente quas nostrum eveniet architecto fugiat.
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Neque reprehenderit, ea corporis velit perferendis nobis quae ipsum sed fugiat cumque quod earum, placeat officia recusandae! Sed, alias. Blanditiis, sunt molestias?
</p>
</div>